<html>
    <head>
        <meta charset="UTF-8">
    	<title>Food Wars!</title>
    	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css" rel="stylesheet" type="text/css">
    	<link href="./node_modules/medium-editor/dist/js/medium-editor.min.js">
    	<link href="./node_modules/medium-editor/dist/css/medium-editor.min.css">
        <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui menu">
            <a href="/index" class="header item blue">Food Wars</a>
            <a href="/index" class="item">Foods</a>
            <a href="/index/new" class="item">Add Food</a>
        </div>
        
        <div class="ui container">
            <h1 class="eight wide column">Allergy Wars</h1>
            <p class="four wide column">fight back!</p>
        </div>

